# Dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage/
*.lcov

# Babel, ESLint, and other configurations
*.babelrc
.babelrc.js
*.eslintrc.cjs
.eslintrc.js
.eslintcache

# Miscellaneous
.DS_Store
*.pem
*.crt
*.key

# Vite
dist/
.vite/

# Webpack
dist/
.cache/

# PostCSS
postcss.config.cjs

# Tailwind CSS
tailwind.config.cjs

# TypeScript
*.tsbuildinfo

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Build directories
build/
out/
temp/

# Static site generators
.next/
.nuxt/
.sapper/

# Miscellaneous
*.DS_Store
*.tmp
*.temp
