.user-information {
  position: fixed;
  /* padding-top: 50%px; */
  padding-bottom: 100%;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  text-align: left;
  color: #378ce7;
  font-family: Monaco, monospace;
}

.content {
  max-width: 400px;
}

.user-information h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.user-information p {
  font-size: 18px;
  margin-bottom: 10px;
}

.user-information label {
  font-weight: bold;
}

.user-information input {
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  outline: none;
}

.user-information input:focus {
  border-color: #378ce7;
  border-width: 2.5px;
}

.user-information .button-group {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.user-information button {
  padding: 10px 20px;
  background-color: #378ce7;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.user-information button:hover {
  background-color: #266ab3;
}

.error-message,
.success-message {
  margin-top: 10px;
}

.error-message {
  color: red;
}

.success-message {
  color: green;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-link {
  color: #378ce7;
  margin-right: 10px;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../Images/world_map.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.4;
  z-index: -1;
}
.user-information button {
  flex: 1; /* Make buttons equally sized */
  margin-right: 10px; /* Add right margin for spacing between buttons */
}

.user-information button:last-child {
  margin-right: 0; /* Remove right margin from last button */
}
.confirmation-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirmation-box {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.confirmation-message {
  font-size: 18px;
  margin-bottom: 20px;
}

.confirmation-buttons button {
  margin-right: 10px;
}

.confirmation-buttons button:last-child {
  margin-right: 0;
}
